Todos los Flujos/_PRODUCCI_N_Talento___Agentes___Webhook_Router.json
{
  "name": "(PRODUCCIÓN)Talento___Agentes___Webhook_Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "33f94729-f82c-47fa-9a32-a726d17bb8b1",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -620,
        60
      ],
      "id": "61c1655b-2f8e-4ca6-87c1-2b44c4171e2c",
      "name": "Webhook",
      "webhookId": "33f94729-f82c-47fa-9a32-a726d17bb8b1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        460,
        180
      ],
      "id": "468adeef-e73a-44f6-a8f7-ee762ff27804",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.response.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        180
      ],
      "id": "ef86a455-45ab-49f8-951f-ee4ae6acd256",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "USruPlGjoYJayR2c",
          "mode": "list",
          "cachedResultName": "Talento|Agentes|Agente Coordinador|Ricardo"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        0,
        180
      ],
      "id": "705bc305-41ed-4a3a-b26a-103b7126c06a",
      "name": "Invocar Coordinador"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9aeb3a5c-e20c-430c-9ddc-c0d674a8f33d",
              "leftValue": "={{ $json.body.query }}",
              "rightValue": "documentMessage",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -400,
        60
      ],
      "id": "8428ac0f-32d7-4704-b425-255591fa2750",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $json.body.inputs.instanceName }}",
        "messageId": "={{ $json.body.query.split(\"|\")[1] }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3a688179-690a-49a4-905f-06b5c88dcf69",
      "name": "Evolution API4"
    },
    {
      "parameters": {
        "name": "={{ $binary.data.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Wo2JVpLiCKL-sf6BQXi-UhkA89o8JEnT",
          "mode": "list",
          "cachedResultName": "CURRICULUMS",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Wo2JVpLiCKL-sf6BQXi-UhkA89o8JEnT"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        500,
        0
      ],
      "id": "17196a88-d606-4812-94dd-f687f7cf6c60",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "fileName": "={{ $json.data.fileName }}",
          "mimeType": "={{ $json.data.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        240,
        0
      ],
      "id": "dc113148-d74d-4709-aa0c-05e0857ed44a",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        0
      ],
      "id": "c987f0d4-7c23-4582-a7a9-406e942cf1e1",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\n\"body\": {{ $json.toJsonString() }}\n\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        0
      ],
      "id": "4949cbe1-5515-49ad-b177-48182d1bda06",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "// Modifica y retorna el objeto original con un nuevo query construido elegantemente\nreturn (() => {\n  // Obtener el objeto original\n  const webhookData = $node[\"Webhook\"]?.json?.body || {};\n  \n  // Extraer y procesar el mensaje\n  const [,, userMsg] = (webhookData.query || \"\").split(\"|\").concat([null, null, \"Te comparto mi curriculum\"]);\n  const { webViewLink: cvLink } = $input.first()?.json || {};\n  \n  // Modificar el objeto original con los datos procesados\n  return {\n    ...webhookData,\n    query: `${userMsg.trim()}|${cvLink || \"Enlace no disponible\"}`\n  };\n})();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        0
      ],
      "id": "2d85340c-4017-4d85-899e-32061063a1aa",
      "name": "Code"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "USruPlGjoYJayR2c",
          "mode": "list",
          "cachedResultName": "Talento|Agentes|Agente Coordinador|Ricardo"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1100,
        0
      ],
      "id": "ae0485f3-5df3-4879-be2f-fd81f9be8ce7",
      "name": "Invocar Coordinador1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invocar Coordinador": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Evolution API4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invocar Coordinador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API4": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Invocar Coordinador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invocar Coordinador1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e5cf0a9d-b1a4-456e-acee-d10f4085bdaf",
  "meta": {
    "instanceId": "1dae253b8ed4fa2ae6cc1a1b54e20169a0e4eef838c1eca58506dcd1699582a0"
  },
  "id": "iZROf1YKLeBLUTnC",
  "tags": []
}