Todos los Flujos/_TEST_Talento_Flow_Response_QA.json
{
  "name": "(TEST)Talento_Flow_Response_QA",
  "nodes": [
    {
      "parameters": {
        "content": "## Estados para flujo\n1. Registra la aplicación → *Application Registered*\n2. Pasa a Ser Evaluado → *Under Evaluation*\n3. Se determina si es apto:\n   - Apto → *Qualified*\n   - No Apto → *Not Qualified*\n4. Si es Apto se le envía el mensaje de invitación para la entrevista → *Interview Invitation Sent*\n5. El candidato puede responder con una primera interacción → *Candidate Response Received*\n6. Si está de acuerdo con la propuesta nos agenda → *Interview Scheduled*\n7. Asistencia a la entrevista:\n   - Asistió → *Interview Attended*\n   - No Asistió → *Interview No-Show*\n8. Decisión final:\n   - Seleccionado → *Selected*\n   - No Seleccionado → *Not Selected*\n\n\n\n Diccionario de Estados del Proceso de Reclutamiento\n\n| Español                                      | Inglés                       |\n|----------------------------------------------|------------------------------|\n| Registra la aplicación                       | Application Registered       |\n| Pasa a Ser Evaluado                          | Under Evaluation             |\n| Apto                                         | Qualified                    |\n| No Apto                                      | Not Qualified                |\n| Invitación para la entrevista enviada        | Interview Invitation Sent    |\n| Respuesta del candidato recibida             | Candidate Response Received  |\n| Entrevista agendada                          | Interview Scheduled          |\n| Asistió a la entrevista                      | Interview Attended           |\n| No asistió a la entrevista                   | Interview No-Show            |\n| Seleccionado                                 | Selected                     |\n| No Seleccionado                              | Not Selected                 |\n\n",
        "height": 680,
        "width": 960,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1020,
        -20
      ],
      "typeVersion": 1,
      "id": "b2651f4b-a89c-49ff-910d-280dd2028c9c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## CANDIDATOS PANDAPE  Y PORTALTALENTO\n\n1) Registra la aplicación -> Cuando se inserte el registro de pandape -> Dentro de carga masiva",
        "height": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        20,
        500
      ],
      "typeVersion": 1,
      "id": "2dddd7d1-94e1-40f5-972d-83fe49d25976",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## CANDIDATOS WSP\n\n1) Registra la aplicación - > Cuando empieza a entregarte los datos -> Dentro del registrador (listo)\n\n2) Pasa a ser evaluado\nEvaluador\n3) Apto\nEvaluador\n4)\n5) Candidato responde",
        "height": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -280,
        500
      ],
      "typeVersion": 1,
      "id": "b7a53587-5b89-4968-830c-6abc47977123",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Origenes:\n1)Pnadape \n• curriculum individual\n• carga de excel\n2)TalentoPortal\n• curriculum individual\n\n3)Wsp\n• curriculum individual\n",
        "height": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        500
      ],
      "typeVersion": 1,
      "id": "a84ea8be-0c16-4a5a-b8ca-7978ab2ff371",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eWoRhXJ_fLkJ0qRzrx37f7CRcjXzt3HPfQKVL3vwV7Y",
          "mode": "list",
          "cachedResultName": "TALENTO | ANUNCIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eWoRhXJ_fLkJ0qRzrx37f7CRcjXzt3HPfQKVL3vwV7Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 472876223,
          "mode": "list",
          "cachedResultName": "q&a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eWoRhXJ_fLkJ0qRzrx37f7CRcjXzt3HPfQKVL3vwV7Y/edit#gid=472876223"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -80,
        280
      ],
      "id": "1a830a09-8f59-4f47-a7bb-bade9e92b4cf",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zvndgwuBWhe4OoHy",
          "name": "Google sheet Mia"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "027316b0-20ee-4332-8686-4749e9fa3f56",
              "leftValue": "={{ $json.JobIDs }}",
              "rightValue": "={{ $('EXEC').item.json.JobId }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        140,
        280
      ],
      "id": "1069f433-72dc-4104-95e2-a23ccebcffc9",
      "name": "Filter"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "JobId"
            },
            {
              "name": "Pregunta"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -300,
        280
      ],
      "id": "7c6c0d60-6520-43ea-9b0b-7a43e97a1eb7",
      "name": "EXEC"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f9314c4-80ea-44c8-9f5f-4ef91a8da2e2",
              "name": "response",
              "value": "={{ $json.Respuesta}}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        280
      ],
      "id": "d38fdc7d-6ca4-44a4-999c-d5f957e2bacb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Respuesta"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        360,
        280
      ],
      "id": "86d9603f-97c1-4fa5-b8fe-b040aaae56a6",
      "name": "Aggregate"
    }
  ],
  "pinData": {
    "EXEC": [
      {
        "json": {
          "JobId": "JOB001",
          "Pregunta": "¿Cuánto pagan por el puesto de Ejecutivo de Cobranza Senior?"
        }
      }
    ]
  },
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXEC": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "940cdaca-1446-46e4-83b8-3b0287d68cd9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1dae253b8ed4fa2ae6cc1a1b54e20169a0e4eef838c1eca58506dcd1699582a0"
  },
  "id": "bgcPeWkoK3rSqRma",
  "tags": []
}